drupal.{$DOMAIN} {
    reverse_proxy drupal:80
}

wordpress.{$DOMAIN} {
    reverse_proxy wordpress:80
}

portainer.{$DOMAIN} {
    reverse_proxy portainer:9000
}	

adminer.{$DOMAIN} {
    reverse_proxy adminer:8181
}

homer.{$DOMAIN} {
    reverse_proxy homer:8080
}
